Source: mobylette
Maintainer: Scibian Project <packaging@scibian.org>
Uploaders: Eduardo Rothe <eduardo-externe.rothe@edf.fr>
Section: web
Priority: extra
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/scibian/mobylette
Vcs-Git: https://github.com/scibian/mobylette.git
Homepage: https://github.com/edf-hpc/mobylette
Build-Depends: debhelper (>= 9),
               dh-python,
               python-setuptools,
               python (>= 2.7)

Package: mobylette
Architecture: all
Depends: python-matplotlib,
         python-tk,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Suggests: lmod | environment-modules
Description: Statistics package for Lmod environment modules
 Reports Lmod `module load` command usage by module name found in log files
